In [31]:
import os
import pandas as pd
import numpy as np

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression

In [13]:
data_root = "../data/"

train_data = pd.read_csv(os.path.join(data_root, "BBC News Train.csv"))
test_data = pd.read_csv(os.path.join(data_root, "BBC News Test.csv"))

In [35]:
print(train_data.shape)
train_data.head()

(1490, 3)

   ArticleId                                               Text  Category
0       1833  worldcom ex-boss launches defence lawyers defe...  business
1        154  german business confidence slides german busin...  business
2       1101  bbc poll indicates economic gloom citizens in ...  business
3       1976  lifestyle  governs mobile choice  faster  bett...      tech
4        917  enron bosses in $168m payout eighteen former e...  business

In [32]:
def target_transform(target: np.ndarray):
    unique_category = np.unique(target)
    category2id = dict(zip(unique_category, range(len(unique_category))))
    func = np.vectorize(lambda x: category2id[x])
    return func(target)

In [16]:
vectorizer = TfidfVectorizer()
train_text_features = vectorizer.fit_transform(train_data.Text)

In [36]:
X = train_text_features
y = target_transform(train_data.Category.values)

In [51]:
test_size = 0.2

indices = np.random.permutation(range(len(train_data)))
train_size = int(len(train_data) * (1 - test_size))

train_idxs = indices[: train_size]
val_idxs = indices[train_size:]

train_data.iloc[train_idxs]

      ArticleId                                               Text  Category
724         188  veteran martinez wins thai title conchita mart...     sport
1024        944  krispy kreme shares hit shares in krispy kreme...  business
133         267  wolves appoint hoddle as manager glenn hoddle ...     sport
1046        517  labour mp praises tory campaign the conservati...  politics
1210       1156  bid to cut court witness stress new targets to...  politics
...         ...                                                ...       ...
53           42  federer claims dubai crown world number one ro...     sport
72         1766  vickery upbeat about arm injury england prop p...     sport
1227       1572  bath faced with tindall ultimatum mike tindall...     sport
8          2034  car giant hit by mercedes slump a slump in pro...  business
49           90  bank set to leave rates on hold uk interest ra...  business

[1192 rows x 3 columns]

In [38]:
classifier = LogisticRegression()

In [39]:
classifier.fit(X, y)

LogisticRegression()

In [40]:
pred = classifier.predict(X)

In [42]:
(pred == y).sum() / len(y)

0.9959731543624161